@font-face{
    font-family: 'MyFont';
    src:url('./print_font.ttf') format('ttf'),
        url('./35_children_font.ttf') format('ttf'),
        url('./字魂36号-正文宋楷.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}
.hello{
    color: red;
    background: url('./icon.jpg');
    font-family: 'MyFont';
}